bitmex
bravado
bravado-core
certifi
chardet
idna
jsonref
jsonschema
monotonic
msgpack-python
numpy
pandas
python-dateutil
pytz
PyYAML
requests
rfc3987
simplejson
six
strict-rfc3339
swagger-spec-validator
urllib3
webcolors
Ta-Lib
